
<div class="panel panel-default">
	<div class="panel-heading">
		<i class="fa fa-star fa-fw"></i> Feeds
		<div class="pull-right">
			<div class="btn-group">
				<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
					Actions
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu pull-right" role="menu">
					<li>
						<a href="#" ng-click="editMode = !editMode">Editer</a>
					<li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /.col-lg-12 -->
	<!-- /.panel-heading -->
	<div class="panel-body" >
		<div id="feeds-panel" class="feeds-panel" >
			
		</div>
	</div>
	<!-- /.panel-body -->
</div>